@using Weavy.Areas.CustomPages.Controllers
@model List<Space>
@{
    Title = T["Companies"].ToString();
}

@section navbar_middle {
    @Html.Partial("_NavbarMenu")
}


@if (Model.HasItems())
{
    <table class="table table-hover table-name-desc-count">
        <thead>
            <tr>
                <th class="table-icon"></th>
                <th>@T["Name"]</th>
                <th>@T["Description"]</th>
                <th class="text-right">@T["Members"]</th>
                <th class="table-icon"></th>
            </tr>
        </thead>
        <tbody id="infinite-scroll-target">
            @{ Html.RenderPartial("_CompanyTable"); }
        </tbody>
    </table>

}

@section scripts {
    <script>
        $(function () {

            const urlParams = new URLSearchParams(window.location.search);
            if (!!urlParams.get("join-company")) {
                wvy.alert.info("Find Your Company. Then Message a current Admin of your Company's Space to make You a Co-Admin of your Company's Space.", 60000);
            }
        })


        document.addEventListener("turbolinks:click", function (e) {

            // anchors in same page should not be requested with turbolinks
            if (e.target.getAttribute("href") == "/companies?join-company=true") {
                return e.preventDefault();
            }
        });
    </script>
}
