body {
}

.navbar-search-box {
    margin: 0 16px;
    min-width: 320px;
    .form-group {
        margin: 0;
    }

    .btn-icon {
        color : rgba(0, 0, 0, 0.55);
    }
    @media(max-width: 767px) {
        display: none;
    }
}
/*
.customized-middle-navbar {

    .dropdown {
        position: relative !important;

        .dropdown-menu {
            left: 0;
            top: 24px;
            right: unset;
            margin-left: unset;
            margin-right: unset;
            //transform: translate(-50%,0);
        }
    }
    @media(max-width: 767px) {
        a {
            display: none !important;
        }
    }
}
    */

.top-notification-panel {
    justify-content: center;
    flex-wrap: wrap;

    .homepage-notification-box {
        border: 1px solid #E0E0E0;
        width: 320px;
        margin: 16px 32px;
    }

    .jitsi-video {
        height: 320px;
        text-align: center;
        background: #156B93;
    }
}
h1.custome-page-title {
    color: #52A9A9;
    font-size: 28px;
    align-self: center;
    margin-bottom: 32px;
    letter-spacing: 1.8px;
}
h2.custome-page-title {
    font-size: 24px;
    align-self: center;
    margin-bottom: 16px;
    letter-spacing: 1.8px;
}
.google-cse-title {
    text-align: right;
    margin: 0 16px;
    width: 120px;
    line-height: 32px;
    font-size: 16px;
    font-weight: bold;
    color: #1BACEA;
}
.parts-search-title {
    text-align: right;
    margin: 0 16px;
    width: 180px;
    line-height: 32px;
    font-size: 16px;
    font-weight: bold;
    color: #1BACEA;
}
.google-cse-search-group {
    width: 350px;
}
.custome-page-categories {
    align-self: center;
    
    ul {
        column-count: 3;
        @media(max-width: 767px) {
            column-count: 2;
        }
        column-gap: 64px;
        list-style: none;
        li {
            a {
                color: #2291FF;
                font-weight: bolder;
            }
            margin: 4px 0;
        }
    }
}
.custome-page-industry-vendors {
    align-self: center;

    ul {
        column-count: 4;

        @media(max-width: 767px) {
            column-count: 2;
        }

        column-gap: 64px;
        list-style: none;

        li {
            a {
                color: #2291FF;
                font-weight: bolder;
            }

            margin: 4px 0;
        }
    }
}
.join-jitsi-room-button {
    padding: 8px 32px;
    background: #FF00FE;
    color: white;
    border-radius: 8px;
    text-transform: uppercase;
}