<style>
    .cta-logo {
        width: 40px;
    }

    .cta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 48px 0px 0px 0px;
    }

    .cta-separater {
        width: 600px;
        border-top-color: #57B6CC;
        border-top-width: 2px;
        margin: 32px 0;
    }
    @@media(max-width: 767px) {
        .cta-separater {
            width: 320px;
        }
    }
</style>
<div class="container">
    <div class="cta">
        <div style="display: flex; align-items: center; max-width: 360px;">
            <img class="cta-logo" src="~/img/black-logo.png" />
            <span style="margin: 0 32px;">Mini Podcasts Featuring Aviation Creators + Aviation Organizations</span>
        </div>
        <hr class="cta-separater" />
        <h4>Aviation Organizations</h4>
        <p style="color: #0091b2; margin: 16px 0;">Authentically & semi-subliminally reach your prospects</p>
        <a class="btn btn-primary" target="_blank" href="https://calendly.com/buddyaero">Book Your On-Demand mini Podcast</a>
        <hr class="cta-separater" />
        <h4>Aviation Creator Economy</h4>
        <p style="color: #0091b2; margin: 16px 0;">Share tribal knowledge; make $400 - $7000 a month posting on Linkedin</p>
        <a class="btn btn-primary" target="_blank" href="https://forms.gle/zJpka7tWNwVZi5mcA">Become a Paid Ambassador</a>
        <hr class="cta-separater" />
    </div>
</div>