<div class="container">
    <div class="cta">
        <div style="display: flex; align-items: center; max-width: 360px;">
            <img class="cta-logo" src="~/img/black-logo.png" />
            <span style="margin: 0 16px;">We Create + Distribute Content</span>
        </div>
        <hr class="cta-separater" />
        <div class="cta-brands-box">
            <div style="display: flex; align-items: center; flex-direction: column">
                <img style="width: 128px; margin-bottom: 32px;" src="~/img/aviation-brands-icon-256.png" />
                <h4>Aviation Brands</h4>
                <p style="color: #0091b2; margin: 16px 0;">Authentically reach your prospects</p>
                <a class="btn btn-primary" target="_blank" href="https://calendly.com/aero-celebrity-podcast">Book a Mini Podcast</a>
            </div>
            <div style="display: flex; align-items: center; flex-direction: column">
                <img style="width: 128px; margin-bottom: 32px;" src="~/img/aviation-creators-icon-256.png" />
                <h4>Aviation Creators</h4>
                <p style="color: #0091b2; margin: 16px 0;">Share knowledge for $2500 a month</p>
                <a class="btn btn-primary" target="_blank" href="https://forms.gle/zJpka7tWNwVZi5mcA">Become a Contributor</a>
            </div>
        </div>
        <hr class="cta-separater" />
    </div>
</div>