@model List<Space>

@if (Model.Any())
{
    Html.RenderPartial("~/Areas/CustomPages/Views/MyHome/Partials/_SpaceList.cshtml", Model);
}
else
{
    <p class="text-muted">
        @T["There are no filtered spaces"] @if (!User.IsAuthenticated())
                {
                <a href="/sign-in">Log in to use Spaces</a>
                }
    </p>
}
