@model List<Space>

@if (Model.Any())
{
    @Html.Partial("~/Areas/CustomPages/Views/MyHome/Partials/_SpaceList.cshtml", Model)
}
else
{
    <p class="text-muted">
        @T["There are no filtered vendors"]
        <a href="@(Url.Action<SpaceController>(c => c.New()).ToLower())">@T[@"We suggest creating your first space to get started."]</a>
    </p>
}
