@using Weavy.Areas.CustomPages.Helpers
@model List<Space>

<div class="space-cards">
    @foreach (var space in Model)
    {
        Html.RenderPartial("~/Areas/CustomPages/Views/MyHome/Partials/_Space.cshtml", space);
    }
</div>
