@using Weavy.Areas.CustomPages.Controllers
@model Weavy.Areas.CustomPages.Models.VideoCallViewModel
@{
    Title = Model.RoomName.Split('/')[1];
}

<style>
    html, body, main {
        height: 100%;
    }
</style>


<div style="height: 100%; width: 100%; display: flex; flex-direction: column">
    <div style="flex:1" id="meet-container">

    </div>
</div>
<script src='https://8x8.vc/libs/external_api.min.js'></script>

<script>
    function jitsiLoaded () {
        const domain = '8x8.vc';
        const options = {
            roomName: '@Model.RoomName',
            configOverwrite: {
                disableInviteFunctions: true,
            },
            jwt: '@Model.Token',
            parentNode: document.querySelector('#meet-container')
        };
        const api = new JitsiMeetExternalAPI(domain, options);
    }

    (function (d, s, cb) {
        var js, fjs = d.getElementsByTagName(s)[0];
        js = d.createElement(s);
        js.src = "https://8x8.vc/libs/external_api.min.js";
        fjs.parentNode.insertBefore(js, fjs);
        js.addEventListener("load", () => cb());
    }(document, 'script', jitsiLoaded));
</script>
